.match-card__body {
  padding: 0 0.5rem;
  background: white;
  box-shadow: 0px 0px 20px -8px gray;
  margin-bottom: 0.25rem;
}

.match-card__grid {
  display: grid;
  grid-template-columns: 10fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  row-gap: 0.125rem;
  padding: var(--x-padding) var(--y-padding);
}

.match-card__sport-type {
  justify-self: start;
  font-weight: 600;
  font-size: 1.125rem;
}

.match-card__structure-name {
  justify-self: start;
  font-size: 0.875rem;
  color: var(--grey);
}

.match-card__outcome {
  font-size: 1.125rem;
  font-weight: 600;
  justify-self: end;
}

.match-card__outcome > span {
  color: var(--grey);
}

.match-card__outcome > span.match-card__self {
  color: #333;
}

.match-card__average-vote {
  font-size: 0.875rem;
  color: var(--grey);
  justify-self: end;
}

.match-card__date {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
  font-size: 0.875rem;
  color: var(--lightblack);
}

.match-card__level-variation-arrow, .match-card__level-variation {
  justify-self: end;
  font-size: 0.875rem;

  &.positive { color: green; }
  &.negative { color: red; }
}

.match-card__level-variation-arrow {
  font-size: 1.750rem;
  line-height: 1rem;

  &.positive::before { content: '\2191' }
  &.negative::before { content: '\2193' }
}


.match-card__votes {
  border-top: 1px solid var(--verylightgrey);
  padding: var(--x-padding) var(--y-padding);
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  color: var(--lightblack);
  row-gap: 0.875rem;

  > span { padding-top: 0.125rem; }
  > span:nth-child(even) { justify-self: right; }

}
